
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,800&display=swap');

.content {
  font-size 10px
}

body {
  font-family: 'Poppins', sans-serif
}

strong {
    font-weight 700
}

// h1 {
//   font-size 35px
//   color #FD8701
// }

// h2 {
//   color #32AFF7
// }

h3 {
  color #9DA2AB
}
